
<% content_for :title, "Lists" %>
<div class="card mt-4 shadow-lg bg-dark text-light"><h1 class="mx-4 text-center">Goal-Board</h1></div>

<table class="table table-bordered table-striped table-hover shadow-lg">
  <thead class="table-dark">
    <tr>
      <th class="text-center">Description</th>
      <th class="text-center">Completed?</th>
      <th class="text-center">Remove</th>
    </tr>
  </thead>
  <tbody class="text-center" id="lists">
    <% @lists.each do |list| %>
      <%= turbo_frame_tag dom_id(list) do %>
        <tr>
          <td><%= link_to list.description, edit_list_path(list), class: "mx-3" %></td>
          <% if list.completed? %>
            <td class="table-success text-center">Complete</td>
          <% else %>
            <td class="table-danger text-center">Incomplete</td>
          <% end %>
          <td><%= button_to 'Delete', list_path(list), method: :delete, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    <% end %>
    <div class="card bg-dark text-light text-center shadow-lg mt-3 mb-3"><%= notice %></div>
  </tbody>
</table>
<%= link_to 'Remove Completed Tasks', home_group_delete_path, method: :delete, class: "btn btn-danger btn-sm" %>
<%= render "form", list: List.new %>
